<h1>
  Edit book #<%= @book.id %>
</h1>

<hr>

<form action="/update_book/<%= @book.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @book.title %>">
  </div>

  <div class="form-group">
    <label for="author">
      Author
    </label>

    <input type="text" id="author" name="author" class="form-control" value="<%= @book.author %>">
  </div>

  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control" value="<%= @book.year %>">
  </div>

  <div class="form-group">
    <label for="subject">
      Subject
    </label>

    <input type="text" id="subject" name="subject" class="form-control" value="<%= @book.subject %>">
  </div>

  <div class="form-group">
    <label for="pages">
      Pages
    </label>

    <input type="text" id="pages" name="pages" class="form-control" value="<%= @book.pages %>">
  </div>

  <div class="form-group">
    <label for="editorial">
      Editorial
    </label>

    <input type="text" id="editorial" name="editorial" class="form-control" value="<%= @book.editorial %>">
  </div>

  <div class="form-group">
    <label for="edition">
      Edition
    </label>

    <input type="text" id="edition" name="edition" class="form-control" value="<%= @book.edition %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update book
  </button>
</form>

<hr>

<a href="/books">
  Go back
</a>
