<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Book #<%= @book.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/books" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/books/<%= @book.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit book
        </a>
      </div>

      <div class="col">
        <a href="/delete_book/<%= @book.id %>" class="btn btn-block btn-outline-secondary">
          Delete book
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @book.title %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @book.author %>
      </dd>

      <dt>
        Year
      </dt>
      <dd>
        <%= @book.year %>
      </dd>

      <dt>
        Subject
      </dt>
      <dd>
        <%= @book.subject %>
      </dd>

      <dt>
        Pages
      </dt>
      <dd>
        <%= @book.pages %>
      </dd>

      <dt>
        Editorial
      </dt>
      <dd>
        <%= @book.editorial %>
      </dd>

      <dt>
        Edition
      </dt>
      <dd>
        <%= @book.edition %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@book.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@book.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "book_templates/book_reviews" %>
  </div>
</div>
