<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Review #<%= @review.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/reviews" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @review.user %>
          <a href="/reviews/<%= @review.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit review
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @review.user %>
          <a href="/delete_review/<%= @review.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete review
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @review.user.present? %>
          <a href="/users/<%= @review.user_id %>">
            <%= @review.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Book
      </dt>
      <dd>
        <% if @review.book.present? %>
          <a href="/books/<%= @review.book_id %>">
            <%= @review.book.title %>
          </a>
        <% end %>
      </dd>

      <dt>
        Format
      </dt>
      <dd>
        <%= @review.format %>
      </dd>

      <dt>
        Pages read
      </dt>
      <dd>
        <%= @review.pages_read %>
      </dd>

      <dt>
        Rating
      </dt>
      <dd>
        <%= @review.rating %>
      </dd>

      <dt>
        Review
      </dt>
      <dd>
        <%= @review.review %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@review.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "review_templates/review_groups" %>
  </div>
</div>
