<!-- Form user start -->
<form action="/create_user_from_group" method="post">
<!-- Form user end -->

  <!-- Label and input for email start -->
  <div class="form-group">
    <label for="email">
      Email
    </label>

    <!-- Input for email start -->
    <input type="text" id="email" name="email" class="form-control" value="<%= @user.email %>">
    <!-- Input for email end -->
  </div>
  <!-- Label and input for email end -->

  <!-- Label and input for password start -->
  <div class="form-group">
    <label for="password">
      Password
    </label>

    <!-- Input for password start -->
    <input type="text" id="password" name="password" class="form-control" value="<%= @user.password %>">
    <!-- Input for password end -->
  </div>
  <!-- Label and input for password end -->

  <!-- Label and input for first_name start -->
  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <!-- Input for first_name start -->
    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @user.first_name %>">
    <!-- Input for first_name end -->
  </div>
  <!-- Label and input for first_name end -->

  <!-- Label and input for last_name start -->
  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <!-- Input for last_name start -->
    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @user.last_name %>">
    <!-- Input for last_name end -->
  </div>
  <!-- Label and input for last_name end -->

  <!-- Label and input for username start -->
  <div class="form-group">
    <label for="username">
      Username
    </label>

    <!-- Input for username start -->
    <input type="text" id="username" name="username" class="form-control" value="<%= @user.username %>">
    <!-- Input for username end -->
  </div>
  <!-- Label and input for username end -->

  <!-- Label and input for group_id start -->
  <!-- Input for group_id start -->
  <input type="hidden" name="group_id" value="<%= @group.id %>">
  <!-- Input for group_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create user
  </button>
</form>
